/target
*.tsbuildinfo
/.local/
/src-tauri/gen/schemas/
/src-tauri/gen/android/.gradle/
/src-tauri/gen/android/.idea/
/src-tauri/gen/android/**/build/
/src-tauri/gen/android/app/src/main/jniLibs/
/src-tauri/gen/android/app/src/main/assets/
/src-tauri/gen/android/tauri.settings.gradle
/src-tauri/gen/android/app/tauri.build.gradle.kts
/src-tauri/gen/android/app/tauri.properties
/src-tauri/gen/android/local.properties
/android/runtime/vendor/
/android/runtime/assets/
/android/runtime/jniLibs/
/android/runtime/libs/
/android/runtime/managed/bin/
/android/runtime/managed/obj/
/android/steam/bin/
/android/steam/obj/
/android/steam-tests/bin/
/android/steam-tests/obj/
/android/runtime-tests/bin/
/android/runtime-tests/obj/
cele-mod.db
mod-cache-*
/mod_cache.json
translate_script.js
