@use "../styles/theme" as theme;

.gameSelector {
    width: 100%;

    select {
        appearance: auto;
        margin: 10px 0;
        width: 275px;
    }

    .title {
        display: flex;
        align-items: center;

        .icon {
            margin-top: 2px;
        }
    }
}
