@use "../styles/theme" as theme;

.recommend-maps-page,
.rec-map {
  height: 100%;
  overflow: hidden;
}

.rec-map {
  .collabs {
    // overflow-x: scroll;
    overflow-y: scroll;
    // white-space: nowrap;
    // height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 12px;
    width: 100%;
    height: calc(100% - 110px);
  }
  .collab {
    border-radius: 10px;
    overflow: hidden;
    background-size: 370px 208px;
    margin: 0;
    display: block;

    height: 400px;

    html:not([lang="zh-CN"]) & {
        height: 490px;
    }
    width: 100%;
    background-color: theme.$bg1;

    border: 1px solid theme.$bg2;
    box-shadow: 2px 3px 10px #00000044;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: calc(100% + 20px);
      left: 0;
      right: 0;
      height: 100px;
      background: linear-gradient(90deg, transparent, theme.$bg1);
      top: 108px;
      z-index: -1;
    }

    .intro {
      pointer-events: none;
      padding: 0 10px;
      padding-top: 160px;
      position: relative;
      .name {
        font-size: 30px;
        font-weight: 700;
      }

      .subtitle {
        font-size: 12px;
        opacity: 0.6;
        margin-top: 5px;
        padding-left: 2px;
      }

      .desc {
        white-space: normal;

        p {
          margin: 6px 0;
        }
      }

      .info {
        opacity: 0.6;
      }
    }

    .oper {
      position: absolute;
      bottom: 0px;
      padding: 10px;
      display: flex; flex-wrap: wrap;
      justify-content: flex-end;
      z-index: 999;
    }
  }
}
