@use "../styles/theme" as theme;



.filter {
    width: calc(100% - 20px);
    select {
        appearance: auto;
    }

    .searchinput {
        font-size: 15px;
        padding: 4px 8px;
        border: none;
        background: theme.$bg1;
        color: theme.$fg;
        margin-right: 10px;
    }

    input {
        flex: 1 1 auto;
        min-width: 0;
        width: auto;
    }

    select {
        min-width: 60px;
        margin-right: 6px;
    }

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: -2px;
        margin-right: 7px;
    }

    display: flex;
    align-items: center;
    margin: 3px 10px;
}
